<div class="container">
  <div class="row">
    <div ng-repeat='video in data.videos' class="col-sm-3">
    <div class="text">
    <h5 >	<a ng-href="#/video/{{video._id}}">{{video.name}}</a></h5>
    </div>
		<div class="embed-responsive embed-responsive-16by9">
		  	<video controls class="embed-responsive-item" style=" background:black;">
				<source src={{video.source.src}} type={{video.source.type}}>
			</video>
		</div>
		 <rating ng-model="video.overallRating" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="rateVideo(video._id, video.overallRating)"></rating></span>

    </div>
  </div>
</div>